<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ site.title }}</h1>

        <img src="{{ '/assets/img/logo.png' | relative_url }}" alt="Logo" style="max-width: 160px; margin-bottom: 1rem;" />

        <p><strong>Role:</strong><br>
          Full-Stack Engineer / PM
        </p>

        <p><strong>Career Path:</strong><br>
          バンド ROOTLESS で ONE PIECE 主題歌<br>
          その後 路頭に迷う ROOTLESS になって<br>
          今は フリーエンジニアの ROOTLESS
        </p>

      </header>

      <section>
        {{ content }}
      </section>

      <footer>

        <a href="mailto:info@takuya-ihara.jp" target="_blank">
          <i class="fa-solid fa-envelope fa-xl text-black" style="color: black;"></i>
        </a> 
        <a href="{{ site.github.owner_url }}" target="_blank" style="margin-left: 0.7em;">
          <i class="fa-brands fa-github fa-xl text-black" style="color: black;"></i>
        </a>
        <a href="https://x.com/ihara_dev" target="_blank" style="margin-left: 0.5em;">
          <i class="fa-brands fa-x-twitter fa-xl text-black" style="color: black;"></i>
        </a>

        <p><small>Last updated: July 2025</small></p>

      </footer>
    </div>

    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
  </body>
</html>
